* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #292738;
}

:root {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
}

.aviso {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  gap: 16px;
  padding: 29% 0;
}

.aviso .btn-light {
  display: flex;
  font-size: 20px;
  border: 0.2rem solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background-color: transparent;
  margin-top: 2.5rem;
}

.aviso .btn-light a {
  display: block;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 25px;
  color: white;
}

.aviso .btn-light:hover {
  background-color: transparent;
  border: 0.2rem solid rgba(0, 0, 0, 0.479);
}

.btn-light:active, .btn-light:focus {
  background-color: transparent !important; 
  color: white;
}

 .navbar a {
  color: white;
}

.aviso h1 {
  color: white;
  position: absolute;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  overflow-wrap: break-word;
}


@media (max-width: 600px) {
  body {
    background-color: #292738;
  }
  .navbar {
  display: flex;
  justify-content: center;
}

  .navbar a {
    color: white;
  }

.aviso {
    margin-bottom: 15px;
    width: 100%;
    left: 10%;
    margin-top: 250px;
    text-align: center;
}

.aviso h1 {
  color: white;
  font-size: 40px;
  position: absolute;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aviso .btn-light {
  display: inline-block;
  margin-top: 30%;
}

}
