* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: #292738;
}

.container {
  display: flex;
  width: 1360px;
  height: 540px;
  padding: 2px 83px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 16px;
  background-color: #353247;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  color: #FFFFFF;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  background-color: #353247;
}