* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: #292738;
}

.container {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: space-evenly; 
  align-items: center; 
  background-color: #353247;
  width: 80vw;
  height: 80vh;
  border-radius: 16px;
  padding: 0.125rem 5rem; 
}

.container h1 {
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
  background-color: #353247;
  color: #FFFFFF;
}

.container p {
  gap: 50px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #353247;
  color: #FFFFFF;
}

.icones {
  display: flex;
  padding: 11px 33px;
  justify-content: center;
  align-items: center;
  gap: 31px;
  background-color: #353247;
  color: #FFFFFF;
}

ion-icon, .bi{
  background-color: #353247;
  font-size: 4rem;
  vertical-align: middle;
}

@media (min-width: 300px) and (max-width: 1200px) {

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
    background-color: #292738;
  }

  .container {
    max-width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
  }
  .container p {
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    padding-bottom: 10px;
    line-height: 1.8;
  }
  ion-icon, .bi{
  background-color: #353247;
  font-size: 3.7rem;
  vertical-align: middle;
}
}