* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #292738;
}

:root {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
}

#profile {
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#profile img {
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.texto {
  color: white;
  width: 606px;
  height: 208px;
  left: 150px;
  margin-top: 300px;
  position: absolute;
}

.texto p,
h1,
h2 {
  margin-bottom: 9px;
}

.texto p {
  font-weight: 600;
  font-style: normal;
}

.texto h1 {
  font-weight: 700;
  font-style: normal;
}

.texto h2 {
  font-weight: 300;
  font-style: normal;
}

.texto img {
  width: 80px;
}

.texto img, p {
  margin-bottom: 3px;
  display: inline-block;
  align-items: center;
}

.texto ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

.btn-light {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  border: 0.2rem solid rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  background-color: transparent;
}

.btn-light a {
  display: block;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 18px;
  color: white;
}


.btn-light ion-icon {
  font-size: 20px;
  margin-right: 5px;
}

.btn-light:hover {
  background-color: transparent;
  border: 0.2rem solid rgba(0, 0, 0, 0.2);
}

.btn-light:active, .btn-light:focus {
  background-color: transparent !important; 
  color: white;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  color: white;
}

@media (max-width: 1280px) {
  body {
    background-color: #292738;
  }

  #profile {
    top: 40px;
    left: 29%;
    align-items: center;
  }

  #profile img {
    width: 200px;
  }

  .texto {
    margin-bottom: 15px;
    width: 80%;
    left: 10%;
    margin-top: 250px;
    text-align: center;
  }

  img {
    width: 60px;
  }

  .navbar {
  display: flex;
  justify-content: center;
}

  .navbar a {
    color: white;
  }

}
