* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #292738;
}

:root {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
}

#profile {
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

#profile img {
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.opcoes ul{
  display: flex;
  float: right;
  list-style: none;
  margin-top: 10px;
}

.opcoes li a {
  display: inline-block;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  color: #ffffff;
  padding-right: 3.0rem;
}

.texto {
  color: white;
  width: 606px;
  height: 208px;
  left: 150px;
  margin-top: 300px;
  position: absolute;
}

.texto p,
h1,
h2 {
  margin-bottom: 9px;
}

.texto p {
  font-weight: 600;
  font-style: normal;
}

.texto h1 {
  font-weight: 700;
  font-style: normal;
}

.texto h2 {
  font-weight: 300;
  font-style: normal;
}

.texto img {
  width: 80px;
}

.texto img, p {
  margin-bottom: 3px;
  display: inline-block;
  align-items: center;
}

.texto ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0;
}

.btn-light {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background-color: transparent;
}

.btn-light:hover {
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2)
}

.btn-light a {
  overflow: hidden;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 22px;
}

@media (max-width: 600px) {
  body {
    background-color: #292738;
  }

  #profile {
    top: 40px;
    left: 29%;
    align-items: center;
  }

  #profile img {
    width: 200px;
  }

  .texto {
    margin-bottom: 15px;
    width: 80%;
    left: 10%;
    margin-top: 250px;
    text-align: center;
  }

  img {
    width: 60px;
  }
}
