* {
    background-color: #292738;
    margin: 0;
}

.container {
    display: flex;
    border-radius: 20px;
    overflow: hidden;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.3);
    width: 80rem;
    height: 40rem;
}

.col {
    color: #FFF;
    font-family: Inter;
    padding: 5rem;
}

.image img {
    margin-left: 3rem;
    width: 20rem;
}


.col h1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.col h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.col p {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; 
}

.botoes-link {
    padding: 1rem;
}

.btn-outline-light {
    border-radius: 10px;
    padding: 14px 20px;
}

.btn-outline-light:hover {
    color: inherit;
    background-color: #353247;
    border-color: rgba(0, 0, 0, 0.5);
  }
  