* {
    margin: 0;
    scroll-behavior: smooth;

}

body {
    background-color: #292738;
}

.container {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.3);
    width: 80rem;
    height: 40rem;
}

.section {
    padding: 4rem 0;
    margin-bottom: 10rem;
}

.col-lg {
    color: #FFF;
    font-family: Inter;
    padding: 5rem;
}

.image img {
    margin-left: 3rem;
    width: 20rem;
}


.col-lg h1 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.col-lg h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.col-lg p {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; 
}

.botoes-link {
    padding: 1rem;
}

.btn-outline-light {
    border-radius: 10px;
    padding: 14px 20px;
}

.btn-outline-light:hover {
    color: inherit;
    background-color: #353247;
    border-color: rgba(0, 0, 0, 0.5);
  }
  
  
  .col-lg h3 {
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.icon-wrapper {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 8.8rem;
    height: 8.8rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    border-radius: 5px;
    position: relative; 
}

.icon-wrapper i {
    font-size: 5em;
}

.icon-wrapper:hover::after {
    content: attr(data-lang);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.icon-wrapper:hover i {
    color: #353247; 
}

.project {
    display: flex;
    margin-top: 1rem;
}

.project .figure {
    margin: 1.6rem;
    padding: 16px 16px;
    border-radius: 20px;
    background-color: #353247;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project .figure:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.project a {
    text-decoration: none;
}

.figure figcaption {
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

@media (max-width: 575.98px) {
    .container {
        max-width: 100%;
        width: 50rem;
        height: 65rem;

    } 

    .col-sm h1 {
        font-size: 18px;
        text-align: center;
        line-height: 3rem;
    }
    
    .col-sm h2 {
        font-size: 30px;
        text-align: center;
    }
    
    .col-sm p {
        font-size: 16px;
        text-align: center;
    }

}
