:root {
    --background-color: #FFFFFF;
    --text-color: #000000;
    --container-background: #F5F5F5;
    --button-text-color: #000000;
    --button-border-color: #000000;
    --button-hover-text-color: #FFFFFF;
    --button-hover-background: #000000;
    --button-hover-border: #000000;
    --icon-background: #FFFFFF;
    --icon-color: #000000;
    --icon-hover-color: #FFFFFF;
    --project-background: #FFFFFF; 
    --project-text: #000000; 
    --navbar-text-color: #000000; 
}

body.dark-theme {
    --background-color: #353247;
    --text-color: #FFF;
    --container-background: #353247;
    --button-text-color: #fff;
    --button-border-color: #fff;
    --button-hover-text-color: inherit;
    --button-hover-background: #353247;
    --button-hover-border: rgba(0, 0, 0, 0.5);
    --icon-background: #353247;
    --icon-color: #FFF;
    --icon-hover-color: #353247;
    --project-background: #353247;
    --project-text: #FFFFFF;
    --navbar-text-color: #FFFFFF; 
}

* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}


.image img {
    display: block;
    max-width: 100%;
    margin: 0 auto 1rem;
    width: 18rem;
    height: auto;
}

.navbar .nav-link {
    color: var(--navbar-text-color) !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='var(--navbar-text-color)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.container {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 6px 20px rgba(0, 0, 0, 0.3);
    width: 80rem;
    height: 40rem;
    background-color: var(--container-background);
}

.section {
    padding: 4rem 0;
    margin-bottom: 10rem;
}

.col-lg {
    color: var(--text-color);
    font-family: Inter;
    padding: 5rem;
}

.col-lg h1, .col-lg h2, .col-lg h3, .col-lg p {
    font-style: normal;
}

.col-lg h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 56px;
}

.col-lg h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 56px;
}

.col-lg p {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px; 
}

.botoes-link {
    padding: 1rem;
}

.btn-outline-light {
    border-radius: 10px;
    padding: 14px 20px;
    color: var(--button-text-color);
    border: 2px solid var(--button-border-color);
}

.btn-outline-light:hover {
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-background);
    border-color: var(--button-hover-border);
}

.col-lg h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 56px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.icon-wrapper {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 8.8rem;
    height: 8.8rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    border-radius: 5px;
    position: relative; 
    background-color: var(--icon-background);
}

.icon-wrapper i {
    font-size: 5em;
    color: var(--icon-color);
}

.icon-wrapper:hover::after {
    content: attr(data-lang);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
}

.icon-wrapper:hover i {
    color: var(--icon-hover-color); 
}

.project {
    display: flex;
    margin-top: 1rem;
}

.project .figure {
    margin: 1.6rem;
    padding: 16px 16px;
    border-radius: 20px;
    background-color: var(--project-background);
    color: var(--project-text); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project .figure:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.project a {
    text-decoration: none;
}

.figure figcaption {
    color: var(--text-color)!important;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.figure-img {
    box-shadow: 0 8px 16px rgba(26, 25, 25, 0.7);
}

.figure-img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(36, 36, 36, 0.7);
}

#toggle-theme-btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: 1000; 
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#toggle-theme-btn i {
    font-size: 1.5rem;
    color: #000;
}


@media (max-width: 575.98px) {
    .container {
        display: flex;
        max-width: 100%;
        width: 30rem;
        height: 60rem;
    } 

    .image img {
        display: block;
        max-width: 100%;
        margin: 0 auto 1rem;
        margin-right: 2rem;
        width: auto;
        height: auto;
    }
    
    .col-sm h1 {
        font-size: 18px;
        text-align: center;
        line-height: 1.4;
    }
    
    .col-sm h2 {
        font-size: 30px;
        text-align: center;
        line-height: 1.4;
    }

    .col-sm h3 {
        font-size: 46px;
        text-align: center;
    }
    
    .col-sm p {
        font-size: 16px;
        text-align: center;
    }

    .icon-wrapper {
        display: flex;
        position: relative; 
        width: 6.6rem;
        height: 6.6rem;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    #toggle-theme-btn {
        width: 50px !important;
        height: 50px !important;
        font-size: 1.2rem !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        position: fixed !important;
        bottom: 1rem !important;
        right: 1rem !important;
        z-index: 1000 !important;
        background-color: #fff !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5) !important;
    }

    .navbar-toggler-icon {
        display: inline-block;
        width: 24px;
        height: 2px;
        background-color: var(--navbar-text-color);
        position: relative;
    }
    
    .navbar-toggler-icon::before,
    .navbar-toggler-icon::after {
        content: '';
        display: block;
        width: 24px;
        height: 2px;
        background-color: var(--navbar-text-color); /* Cor das linhas */
        position: absolute;
        left: 0;
    }
    
    .navbar-toggler-icon::before {
        top: -8px; /* Linha superior */
    }
    
    .navbar-toggler-icon::after {
        top: 8px; /* Linha inferior */
    }
    
}
